body {
  background: #f5f0e6;
}
.content-card {
  background: #fffdf8;
  border-left: 6px solid #c59d5f;
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.6);
  font-family: "Lora", serif;
  text-align: justify;
}

.team-card {
  background: #e1dbdb;
  border: 8px solid #ae9887;
  border-radius: 20px;
  overflow: hidden;
  object-fit: cover;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.15);
  max-width: 400px;
  margin: auto;
}

.team-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.18);
}

.team-card img {
  width: 100%;
  height: 320px;
  object-fit: auto;
}

.team-card .card-body {
  padding: 1.5rem;
  text-align: center;
}

.team-card .card-body h5 {
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.team-card .card-body p {
  color: #082265;
  margin-bottom: 0;
}
